openapi: 3.0.0
info:
  title: Catalog API v2 - Crawl Endpoints
  version: 2.0.0
servers:
  - url: https://api.getcatalog.ai/v2
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
security:
  - apiKey: []
paths:
  /crawl:
    post:
      summary: Crawl
      x-codeSamples:
        - lang: curl
          source: |
            curl -X POST https://api.getcatalog.ai/v2/crawl \
              -H "Content-Type: application/json" \
              -H "x-api-key: YOUR_API_KEY" \
              -d '{
                "url": "skims.com"
              }'
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/crawl', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'YOUR_API_KEY'
              },
              body: JSON.stringify({
                url: 'skims.com'
              })
            });
            
            const data = await response.json();
            console.log(`Crawl started with execution ID: ${data.execution_id}`);
        - lang: python
          source: |
            import requests
            
            response = requests.post(
                'https://api.getcatalog.ai/v2/crawl',
                headers={
                    'Content-Type': 'application/json',
                    'x-api-key': 'YOUR_API_KEY'
                },
                json={
                    'url': 'skims.com'
                }
            )
            
            data = response.json()
            print(f"Crawl started with execution ID: {data['execution_id']}")
    get:
      summary: List Crawls
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/crawl" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/crawl', {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
            console.log(`Found ${data.data.length} executions`);
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/crawl',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Found {len(data['data'])} executions")
  /crawl/{execution_id}:
    get:
      summary: Get Crawl Status
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/crawl/crawl-skims-com-a1b2c3d4" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const executionId = 'crawl-skims-com-a1b2c3d4';
            
            const response = await fetch(
              `https://api.getcatalog.ai/v2/crawl/${executionId}`,
              {
                headers: {
                  'x-api-key': 'YOUR_API_KEY'
                }
              }
            );
            
            const data = await response.json();
            console.log(`Status: ${data.status}`);
        - lang: python
          source: |
            import requests
            
            execution_id = 'crawl-skims-com-a1b2c3d4'
            
            response = requests.get(
                f'https://api.getcatalog.ai/v2/crawl/{execution_id}',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Status: {data['status']}")
    delete:
      summary: Cancel Crawl
      x-codeSamples:
        - lang: curl
          source: |
            curl -X DELETE "https://api.getcatalog.ai/v2/crawl/crawl-skims-com-a1b2c3d4" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const executionId = 'crawl-skims-com-a1b2c3d4';
            
            const response = await fetch(
              `https://api.getcatalog.ai/v2/crawl/${executionId}`,
              {
                method: 'DELETE',
                headers: {
                  'x-api-key': 'YOUR_API_KEY'
                }
              }
            );
            
            const data = await response.json();
            console.log(`Execution ${data.execution_id} canceled`);
        - lang: python
          source: |
            import requests
            
            execution_id = 'crawl-skims-com-a1b2c3d4'
            
            response = requests.delete(
                f'https://api.getcatalog.ai/v2/crawl/{execution_id}',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Execution {data['execution_id']} canceled")
