openapi: 3.0.0
info:
  title: Catalog API v2 - Extract Endpoint
  version: 2.0.0
servers:
  - url: https://api.getcatalog.ai/v2
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
security:
  - apiKey: []
paths:
  /extract:
    post:
      summary: Extract
      x-codeSamples:
        - lang: curl
          label: Extract URLs
          source: |
            curl -X POST https://api.getcatalog.ai/v2/extract \
              -H "Content-Type: application/json" \
              -H "x-api-key: YOUR_API_KEY" \
              -d '{
                "urls": [
                  "https://www.nike.com/t/air-force-1-07-mens-shoes-5QFp5Z/CW2288-111",
                  "https://www.adidas.com/us/gazelle-shoes/BB5476.html"
                ],
                "enable_enrichment": false,
                "country_code": "us",
                "enable_reviews": false,
                "enable_image_tags": false
              }'
        - lang: curl
          label: Extract Vendors
          source: |
            curl -X POST https://api.getcatalog.ai/v2/extract \
              -H "Content-Type: application/json" \
              -H "x-api-key: YOUR_API_KEY" \
              -d '{
                "vendor": "nike.com",
                "max_products": 100,
                "enable_enrichment": false,
                "country_code": "us",
                "enable_reviews": false,
                "enable_image_tags": false
              }'
        - lang: javascript
          label: Extract URLs
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/extract', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'YOUR_API_KEY'
              },
              body: JSON.stringify({
                urls: [
                  'https://www.nike.com/t/air-force-1-07-mens-shoes-5QFp5Z/CW2288-111',
                  'https://www.adidas.com/us/gazelle-shoes/BB5476.html'
                ],
                enable_enrichment: false,
                country_code: 'us',
                enable_reviews: false,
                enable_image_tags: false
              })
            });
            
            const data = await response.json();
            console.log(`Execution started: ${data.execution_id}`);
        - lang: javascript
          label: Extract Vendors
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/extract', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'YOUR_API_KEY'
              },
              body: JSON.stringify({
                vendor: 'nike.com',
                max_products: 100,
                enable_enrichment: false,
                country_code: 'us',
                enable_reviews: false,
                enable_image_tags: false
              })
            });
            
            const data = await response.json();
            console.log(`Execution started: ${data.execution_id}`);
        - lang: python
          label: Extract URLs
          source: |
            import requests
            
            response = requests.post(
                'https://api.getcatalog.ai/v2/extract',
                headers={
                    'Content-Type': 'application/json',
                    'x-api-key': 'YOUR_API_KEY'
                },
                json={
                    'urls': [
                        'https://www.nike.com/t/air-force-1-07-mens-shoes-5QFp5Z/CW2288-111',
                        'https://www.adidas.com/us/gazelle-shoes/BB5476.html'
                    ],
                    'enable_enrichment': False,
                    'country_code': 'us',
                    'enable_reviews': False,
                    'enable_image_tags': False
                }
            )
            
            data = response.json()
            print(f"Execution started: {data['execution_id']}")
        - lang: python
          label: Extract Vendors
          source: |
            import requests
            
            response = requests.post(
                'https://api.getcatalog.ai/v2/extract',
                headers={
                    'Content-Type': 'application/json',
                    'x-api-key': 'YOUR_API_KEY'
                },
                json={
                    'vendor': 'nike.com',
                    'max_products': 100,
                    'enable_enrichment': False,
                    'country_code': 'us',
                    'enable_reviews': False,
                    'enable_image_tags': False
                }
            )
            
            data = response.json()
            print(f"Execution started: {data['execution_id']}")
    get:
      summary: List Extracts
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/extract" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/extract', {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
            console.log(`Found ${data.data.length} executions`);
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/extract',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Found {len(data['data'])} executions")
  /extract/{execution_id}:
    get:
      summary: Get Extract Status
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/extract/extract-urls-965b1912-6af0-4ed8-b7e3-184b85e788b7?page=1&page_size=50" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const executionId = 'extract-urls-965b1912-6af0-4ed8-b7e3-184b85e788b7';
            
            const response = await fetch(
              `https://api.getcatalog.ai/v2/extract/${executionId}?page=1&page_size=50`,
              {
                headers: {
                  'x-api-key': 'YOUR_API_KEY'
                }
              }
            );
            
            const data = await response.json();
            console.log(`Status: ${data.status}`);
        - lang: python
          source: |
            import requests
            
            execution_id = 'extract-urls-965b1912-6af0-4ed8-b7e3-184b85e788b7'
            
            response = requests.get(
                f'https://api.getcatalog.ai/v2/extract/{execution_id}',
                headers={'x-api-key': 'YOUR_API_KEY'},
                params={'page': 1, 'page_size': 50}
            )
            
            data = response.json()
            print(f"Status: {data['status']}")
    delete:
      summary: Cancel Extract
      x-codeSamples:
        - lang: curl
          source: |
            curl -X DELETE "https://api.getcatalog.ai/v2/extract/extract-urls-965b1912-6af0-4ed8-b7e3-184b85e788b7" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const executionId = 'extract-urls-965b1912-6af0-4ed8-b7e3-184b85e788b7';
            
            const response = await fetch(
              `https://api.getcatalog.ai/v2/extract/${executionId}`,
              {
                method: 'DELETE',
                headers: {
                  'x-api-key': 'YOUR_API_KEY'
                }
              }
            );
            
            const data = await response.json();
            console.log(`Execution ${data.execution_id} canceled`);
        - lang: python
          source: |
            import requests
            
            execution_id = 'extract-urls-965b1912-6af0-4ed8-b7e3-184b85e788b7'
            
            response = requests.delete(
                f'https://api.getcatalog.ai/v2/extract/{execution_id}',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Execution {data['execution_id']} canceled")
