openapi: 3.0.0
info:
  title: Catalog API v2 - Other Endpoints
  version: 2.0.0
servers:
  - url: https://api.getcatalog.ai/v2
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
security:
  - apiKey: []
paths:
  /vendors:
    get:
      summary: Get Vendors
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/vendors?page=1&page_size=5" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/vendors?page=1&page_size=5', {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
            console.log(`Found ${data.pagination.total_items} vendors`);
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/vendors',
                headers={'x-api-key': 'YOUR_API_KEY'},
                params={'page': 1, 'page_size': 5}
            )
            
            data = response.json()
            print(f"Found {data['pagination']['total_items']} vendors")
  /collections:
    get:
      summary: Get Collections
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/collections?vendor=skims.com&page=1&page_size=5" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const params = new URLSearchParams({
              vendor: 'skims.com',
              page: '1',
              page_size: '5'
            });
            
            const response = await fetch(`https://api.getcatalog.ai/v2/collections?${params}`, {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
            console.log(`Found ${data.data.length} collections`);
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/collections',
                headers={'x-api-key': 'YOUR_API_KEY'},
                params={
                    'vendor': 'skims.com',
                    'page': 1,
                    'page_size': 5
                }
            )
            
            data = response.json()
            print(f"Found {len(data['data'])} collections")
  /listings:
    get:
      summary: Get Listings
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/listings?vendor=skims.com&page=1&page_size=2&collection_url=https://www.skims.com/collections/skims-sale" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const params = new URLSearchParams({
              vendor: 'skims.com',
              page: '1',
              page_size: '2',
              collection_url: 'https://www.skims.com/collections/skims-sale'
            });
            
            const response = await fetch(`https://api.getcatalog.ai/v2/listings?${params}`, {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
            console.log(`Found ${data.data.length} listings`);
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/listings',
                headers={'x-api-key': 'YOUR_API_KEY'},
                params={
                    'vendor': 'skims.com',
                    'page': 1,
                    'page_size': 2,
                    'collection_url': 'https://www.skims.com/collections/skims-sale'
                }
            )
            
            data = response.json()
            print(f"Found {len(data['data'])} listings")
  /affiliate:
    post:
      summary: Generate Affiliate Links
      x-codeSamples:
        - lang: curl
          source: |
            curl -X POST https://api.getcatalog.ai/v2/affiliate \
              -H "Content-Type: application/json" \
              -H "x-api-key: YOUR_API_KEY" \
              -d '{
                "urls": [
                  "https://www.nike.com/t/air-force-1-07-mens-shoes-5QFp5Z/CW2288-111",
                  "https://www.adidas.com/us/gazelle-shoes/BB5476.html"
                ]
              }'
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/affiliate', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'YOUR_API_KEY'
              },
              body: JSON.stringify({
                urls: [
                  'https://www.nike.com/t/air-force-1-07-mens-shoes-5QFp5Z/CW2288-111',
                  'https://www.adidas.com/us/gazelle-shoes/BB5476.html'
                ]
              })
            });
            
            const data = await response.json();
            console.log(`Generated ${data.data.length} affiliate links`);
        - lang: python
          source: |
            import requests
            
            response = requests.post(
                'https://api.getcatalog.ai/v2/affiliate',
                headers={
                    'Content-Type': 'application/json',
                    'x-api-key': 'YOUR_API_KEY'
                },
                json={
                    'urls': [
                        'https://www.nike.com/t/air-force-1-07-mens-shoes-5QFp5Z/CW2288-111',
                        'https://www.adidas.com/us/gazelle-shoes/BB5476.html'
                    ]
                }
            )
            
            data = response.json()
            print(f"Generated {len(data['data'])} affiliate links")
  /usage:
    get:
      summary: Get Usage
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/usage?period=7d&page_size=5" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/usage?period=7d&page_size=5', {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/usage?period=7d&page_size=5',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
