openapi: 3.0.0
info:
  title: Catalog API v2 - Search Endpoints
  version: 2.0.0
servers:
  - url: https://api.getcatalog.ai/v2
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
security:
  - apiKey: []
paths:
  /agentic-search-mini:
    post:
      summary: Agentic Search Mini
      x-codeSamples:
        - lang: curl
          source: |
            curl -X POST https://api.getcatalog.ai/v2/agentic-search-mini \
              -H "Content-Type: application/json" \
              -H "x-api-key: YOUR_API_KEY" \
              -d '{
                "query": "sustainable midi dresses",
                "enable_enrichment": true
              }'
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/agentic-search-mini', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'YOUR_API_KEY'
              },
              body: JSON.stringify({
                query: 'sustainable midi dresses',
                enable_enrichment: true
              })
            });
            
            const data = await response.json();
            console.log(`Found ${data.data.length} products`);
        - lang: python
          source: |
            import requests
            
            response = requests.post(
                'https://api.getcatalog.ai/v2/agentic-search-mini',
                headers={
                    'Content-Type': 'application/json',
                    'x-api-key': 'YOUR_API_KEY'
                },
                json={
                    'query': 'sustainable midi dresses',
                    'enable_enrichment': True
                }
            )
            
            data = response.json()
            print(f"Found {len(data['data'])} products")
  /agentic-search:
    post:
      summary: Agentic Search
      x-codeSamples:
        - lang: curl
          source: |
            curl -X POST https://api.getcatalog.ai/v2/agentic-search \
              -H "Content-Type: application/json" \
              -H "x-api-key: YOUR_API_KEY" \
              -d '{
                "query": "A Barbour jacket suitable for the office",
                "customer_profile": {
                  "style": {
                    "fit": "casual with a refined, creative edge",
                    "avoid": ["large logos", "loud streetwear"],
                    "color": "prefers earth tones, neutrals, black",
                    "aesthetic": ["minimal and cool"]
                  }
                }
              }'
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/agentic-search', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'x-api-key': 'YOUR_API_KEY'
              },
              body: JSON.stringify({
                query: 'A popular Barbour jacket to wear to the office',
                customer_profile: {
                  style: {
                    fit: 'elevated casual with artistic flair',
                    avoid: ['flashy logos', 'overt streetwear'],
                    color: 'prefers earth tones, neutrals, and black',
                    aesthetic: ['understated cool']
                  }
                }
              })
            });
            
            const data = await response.json();
            console.log(`Search started with execution ID: ${data.execution_id}`);
        - lang: python
          source: |
            import requests
            
            response = requests.post(
                'https://api.getcatalog.ai/v2/agentic-search',
                headers={
                    'Content-Type': 'application/json',
                    'x-api-key': 'YOUR_API_KEY'
                },
                json={
                    'query': 'A popular Barbour jacket to wear to the office',
                    'customer_profile': {
                        'style': {
                            'fit': 'elevated casual with artistic flair',
                            'avoid': ['flashy logos', 'overt streetwear'],
                            'color': 'prefers earth tones, neutrals, and black',
                            'aesthetic': ['understated cool']
                        }
                    }
                }
            )
            
            data = response.json()
            print(f"Search started with execution ID: {data['execution_id']}")
    get:
      summary: List Agentic Searches
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/agentic-search" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const response = await fetch('https://api.getcatalog.ai/v2/agentic-search', {
              headers: {
                'x-api-key': 'YOUR_API_KEY'
              }
            });
            
            const data = await response.json();
            console.log(`Found ${data.data.length} executions`);
        - lang: python
          source: |
            import requests
            
            response = requests.get(
                'https://api.getcatalog.ai/v2/agentic-search',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Found {len(data['data'])} executions")
  /agentic-search/{execution_id}:
    get:
      summary: Get Agentic Search Status
      x-codeSamples:
        - lang: curl
          source: |
            curl -X GET "https://api.getcatalog.ai/v2/agentic-search/agentic-a1b2c3d4-1735123456789" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const executionId = 'agentic-a1b2c3d4-1735123456789';
            
            const response = await fetch(
              `https://api.getcatalog.ai/v2/agentic-search/${executionId}`,
              {
                headers: {
                  'x-api-key': 'YOUR_API_KEY'
                }
              }
            );
            
            const data = await response.json();
            console.log(`Status: ${data.status}`);
        - lang: python
          source: |
            import requests
            
            execution_id = 'agentic-a1b2c3d4-1735123456789'
            
            response = requests.get(
                f'https://api.getcatalog.ai/v2/agentic-search/{execution_id}',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Status: {data['status']}")
    delete:
      summary: Cancel Agentic Search
      x-codeSamples:
        - lang: curl
          source: |
            curl -X DELETE "https://api.getcatalog.ai/v2/agentic-search/agentic-a1b2c3d4-1735123456789" \
              -H "x-api-key: YOUR_API_KEY"
        - lang: javascript
          source: |
            const executionId = 'agentic-a1b2c3d4-1735123456789';
            
            const response = await fetch(
              `https://api.getcatalog.ai/v2/agentic-search/${executionId}`,
              {
                method: 'DELETE',
                headers: {
                  'x-api-key': 'YOUR_API_KEY'
                }
              }
            );
            
            const data = await response.json();
            console.log(`Execution ${data.execution_id} canceled`);
        - lang: python
          source: |
            import requests
            
            execution_id = 'agentic-a1b2c3d4-1735123456789'
            
            response = requests.delete(
                f'https://api.getcatalog.ai/v2/agentic-search/{execution_id}',
                headers={'x-api-key': 'YOUR_API_KEY'}
            )
            
            data = response.json()
            print(f"Execution {data['execution_id']} canceled")
